<library path="src">
  <class name="FrosLoaderPlugin" type="rqt_fros_loader.fros_loader_plugin.FrosLoaderPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for FROS
    </description>
    <qtgui>
      <group>
        <label>FROS</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to FROS.</statustip>
      </group>
      <label>Test Plugin</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>A Python GUI plugin for FROS.</statustip>
    </qtgui>
  </class>
</library>